*{
  padding: 0;
  margin:0 ;
  box-sizing: border-box;
  }

body{
  background-color: #D071F9;
  padding: 0 10px;
}
.container{
  max-width: 500px;
  width: 100%;
  background-color: white;
  margin: 20px auto;
  padding: 30px;
  box-shadow: 5px 5px 2px rgba(255, 0, 0, 0.125);
}
.container .title{
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
  color: #D071F9;
  text-transform: uppercase;
  text-align:center;
}
.container .form{
  width: 100%;
}
.container .form .input_field
{
  margin-bottom: 15px;
  display: flex;
  align-content: center;
}
.container .form .input_field label
{

  width: 200px;
  margin-right: 10px;
  font-size: 15px;
}
.container .form .input_field .input,
.container .form .input_field .textarea

{
  width: 100%;
  outline: none;
  border: 1px solid #D071F9;
  font-size: 15px;
  padding: 8px 10px;
  border-radius: 3px;
  transition: all 0.5s ease;

}
.container .form .input_field .textarea
{
  resize: none;
  width: 100%
  height: 70px;
  }
 .container .form .input_field .custom_select
  {
    position: relative;
    width:100%;
    height: 37px;
  }

  .container .form .input_field .custom_select select
  {
    -webkit-appearance:none;
    appearance:none;

    width: 100%;
    height: 100%;
    padding:  8px 10px;
    border: 1px solid #D071F9;
    border-radius: 3px;
    outline: none;
  }
  .container .form .input_field .custom_select:before
  {
    content:"";
    position: absolute;
    top: 0;
    right: 0;
    border: 8px solid black;
    border-color: #D071F9 transparent transparent transparent;
    pointer-events: none;
  }
  .container .form .input_field .input:focus,
  .container .form .input_field .textarea:focus,
  .container .form .input_field .select:focus
  {
    border:1px solid purple;
  }
  .container .form .input_field p{
    font-size: 15px;
    color: #757575;
  }
  .container .form .input_field .check{
    width: 15px;
    height: 15px;
    position: relative;
    display: block;
    cursor: pointer;
  }
  .container .form .input_field .check input[type="checkbox"]
  {
    position: absolute;
    top:0;
    left: 0;
    opacity: 0;
  }
  .container .form .input_field .check .checkmark
  {
    width: 15px;
    height: 15px;
    border: 1px solid #fec107;
    display: block;
    position: relative;

  }
  .container .form .input_field .check .checkmark:before
  {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 2px;
    border: 2px solid;
    border-color: white white white white;
    transform: rotate(-45deg);
  }
  .container .form .input_field .check input[type="checkbox"]:checked~.checkmark
  {
    background: red;
  }
  .container .form .input_field .check input[type="checkbox"]:checked~.checkmark:before
  {
    display: block;
  }
.container .form .input_field .btn
{
  width: 100%;
  padding: 8px 15px;
  font-size: 15px;
  border: 0px;
  background-color: #D071F9;
  color: white;
  cursor: pointer;
  border-radius: 3px;
  outline: none;

}
.container .form .input_field:last-child
{
  margin: 0;
}
.container .form .input_field .btn:hover
{
  background-color: purple;
}
@media(max-width:420px)
{
  .container .form .input_field
  {
    flex-direction: column;
    align-items: flex-start;
  }
  .container .form .input_field label
  {
    margin-bottom: 5px;
  }
  .container .form .input_field.term
  {
    flex-direction: row;
  }

}

}
